<a href="https://colab.research.google.com/github/glazenda/API-Project/blob/master/DDI_q111.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question from <a href="www.interviewqs.com">Data Interview Qs</a> - sign up to receive a few DS questions/week via email.



---

Suppose you have a dataframe, df, with the following records:

In [0]:
import pandas as pd
raw_data = {'age': [20, 19, 22, 21], 
        'favorite_color': ['blue', 'blue', 'yellow', 'green'], 
        'grade': [88, 95, 92, 70], 
        'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel']}
df = pd.DataFrame(raw_data, columns = ['age', 'favorite_color', 'grade', 'name',])
df

   age favorite_color  grade              name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel

The dataframe is showing information about students. Write code using Python Pandas to select the rows where the students' favorite color is green or yellow and their grade is between 85-95 (inclusive).

Solution will be written in Python for premium users.



---

<a href="https://www.interviewqs.com/signup">Upgrade to premium</a> to receive in-depth solutions to each problem.